
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


:root{
    --orange: #FF570A
    --red: #D72638
    --white: #FFFFFF
    --purple: #420039
    --blue: #12355B
}

*{
    box-sizing: border-box;
    margin-top: 0 !important;
    /* background: var(--white); */
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

.showcase{
    position: relative;
    left: 0;
    width: 100%;
    background: black;
    color: var(--white);
    z-index: 22;
    transition: 0.5s;
    padding-top: 20px;
}

.showcase header{
    position: absolute;
    /* top: 40; */
    /* left: 0; */
    width: 100%;
    /* padding: 40px 100px; */
    z-index: 1000;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
}
.logo{
    text-transform: uppercase;
    cursor: pointer;
}

.col-2{
    flex-basis: 40%;
    min-width: 200px;
}
.menu-sec{
    width: max-content;
}
.menu-sec ul {
    display: flex;
    

}
.menu-sec ul li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: solid transparent;
    margin: 0 !important;
    transition: 0.5s;
    padding-bottom: 5px;
}
.menu-sec ul li:hover{
    border-bottom: solid orange;
}
.menu-sec ul li a{
    color: var(--white);
    font-size: 18px;
    transition: 0.5s;
    text-decoration: none;
    /* text-align: center; */

}


/* responsive menu code */

.respon-menu{
    display: flex;
    margin: 40px;
    display: none;
}

@media screen and (max-width: 1065px){
    .respon-menu{
        display: contents;
        padding: 20px;
    }
    section{
        height: 100vh !important;
    }
    .none{
        display: none !important;
    }
    .logo-roxy{
        display: none !important;
    }
    .menu-sec{
        display: none !important;
    }
}
@media screen and (max-width: 605px){
    .banner-text{
        margin-left: 10px !important;
    }
}
@media screen and (max-width: 1280px){
    .text-block{
        display: none !important;
    }
}
.meny-butt{
    display: inline-block;
    margin-right: 50px;
}
.respon-title{
    display: inline-block;
    
}
.title-h{
    font-size: 40px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.877);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #dbd8d8;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* .toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: url('./menu-bar.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}
.toggle.active{
    background: url(./x-button.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
} */

.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
section{
    display: block;
    height: 70vh;
}
.overlayy{
  
    position: absolute;
    /* z-index: 50; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(92, 139, 115);
    mix-blend-mode: overlay ;

}
/* this will be the main logo/title i also need 
to choose my set fontx
*/

.banner-text{
    width: 30vw;
    min-width: 300px;
    z-index: 3000;
    position: relative;
    padding-top: 8rem;
    margin-left: 10rem;
    margin-right: 10rem;

   

}
.title-banner h1{
    font-size: 70px;
    font-weight: 600;
}
.special-text{
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 90px;
}

.social{
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.social li{
    list-style: none;

}
.social li a{
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    /* transform: scale(0.5); */
    /* will shrink the image and scale it down. */
    /* 1 is default */
    transition: 0.2s;

}
.social li a i{
    color: var(--orange);
}
.social li:hover{
    transform: translateY(-15px);
    /* postieve moves it down neg moves the icon up */
}

@media(max-width: 798px){
    .showcase .showcase header{
        padding: 40px;
    }
    .text h2{
        font-size: 3em;
    }
    .text h3{
        font-size: 2em;
    }
}


/* this will begin the 3 box section with what we offer */
.three-box-sec{
    position: relative;
    height: max-content;
    z-index: 3000;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    padding: 15px;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.box{
    background: rgb(248, 248, 246);
    box-shadow: 5px 20px 20px 5px rgba(2, 2, 2, 0.1);
}
.col-3 h3{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.main-sec-title{
    width: 100%;
    text-align: center;
}
.main-sec-title h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    color: black;
    font-weight: 500;
    padding-top: 40px;
    padding-bottom: 60px;
    letter-spacing: 2px;

}

.butt{
    padding: 8px 10px;
    border: 2px solid var(--purple);
    width: 220px;
    /* float: right; */
    
}
.butt a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    text-transform: uppercase;


}
.butt:hover{
    background: rgba(128, 0, 128, 0.411);
}

/* starting the two banner section */
.large-conatiner{
    max-width: 1300px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.col-2-l{
    padding-top: 30px;
    flex-basis: 40%;
    /* padding: 10px; */
    min-width: 300px;
    transition: transform 0.5s;
}
.two-part-sec{
    padding-top: 120px;
    /* padding-bottom: 80px; */
}
.width-butt{
    width: max-content !important;
}
.col-2-l h2{
    font-size: 110;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.col-2-l p{
    font-size: 18px;
    padding-bottom: 20px;
}
.padding-b{
    padding-left: 20px;
    padding-bottom: 10px;
}

/* horzionatl banner */
.hoz-banner{
    height: max-content;
    width: 100%;
    object-fit: cover;
    background-color: black;
}



/* this will be four imgaes with a good border radius  */
.container {
    position: relative;
    
}
.container img{
    border-radius: 20px;
}
  
  /* Bottom right text */
.text-block {
    position: absolute;
    bottom: 50px;
    right: 40px;
    /* background-color: black; */
    color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
}
.free{
    bottom: 50px;
    right: 20px;
}
.women{
    bottom: 50px;
    right: 40px;
}
.food-c{
    bottom: 50px;
    right: 80px;
}
.title-side{
    padding-top: 50px;
    width: max-content;
    padding-bottom: 50px;
}
.title-side h2{
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: solid 6px rgb(152, 187, 152);
    padding: 5px;
}
.col-4{
    flex-basis: 25%;
    min-width: 250px;
}
.four-banner-sec{
    padding-bottom: 50px;
}
.container h4{
    font-size: 30px;
}
.border-side{
    padding-top: 10px;
}

/* this is the blue banner section that is width 100% */
.blue-banner{
    background-color: rgb(205, 233, 255);
}
.increase-font h1{
    font-size: 30px;
}
.i{
    /* font-style: italic; */
    font-family: 'Courgette', cursive;
    font-size: 30px;
}
.top-pad{
    padding-top: 50px;
    padding-bottom: 20px;
}
.sec{
    display: flex;
}
.half{
    display: inline-block;
}
.half i{
    padding-right: 20px;
}
.half p{
    font-size: 16px;
}

/* footer section code */
.footer-sec-black{
    background-color: black;
}
.logo{
    color: aliceblue;
    padding-bottom: 20px;
}
.col-5{
    flex-basis: 2fr;
}
.col-5 p{
    color: honeydew;
}
.col-4-s{
    flex-basis: 1fr;
}
.col-4-s ul li{
    padding-top: 10px;
    list-style: none;
}
.col-4-s ul li a{
    text-decoration: none;
    color: rgb(207, 207, 207);
}
.bolded{
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}
.social-section uil{
    display: flex;
}
.social-section ul li{
    display: inline-block;
}
.tablink {
    background-color: rgb(247, 244, 244);
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    width: 25%;
    text-transform: uppercase;
  }
  
  .tablink:hover {
    background-color: rgba(255, 255, 255, 0.911);
  }
  
  /* Style the tab content */
  .tabcontent {
    color: black;
    display: none;
    padding: 50px;
    text-align: center;
  }
  .col-6{
      flex-basis: 15%;
      min-width: 200px;
  }
  .col-6 h2{
      color: black;
      font-size: 18px;
      font-weight: 400;
  }
  
  #London {background-color:rgb(238, 228, 228);}
  #Paris {background-color:rgb(245, 206, 138)}
  #Tokyo {background-color:rgb(158, 190, 189);}
  #Oslo {background-color:orange;}

  .title-main{
      text-align: center;
      padding-bottom: 20px;
  }


  /* this will be imported code to make the main title flicker */
.meet-the-team{
  
    padding-bottom: 80px;
}
.main-banner-title{
    padding-top: 150px;
    text-align: center;
}
.main-banner-title h2{
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 90px;
}
.col-3-l{
    flex-basis: 30%;
    min-width: 300px;
    align-items: center;
    padding-bottom: 20px;
}
.col-3-l img{
    /* padding-left: 30px; */
    width: 100%;
    
}
.info{
    text-align: center;
}
.name h1{
    font-size: 30px;
    padding-top: 20px;
}
.social-section li a{
    padding-right: 15px;

}
.social-section li a i{
    color: orang;
}

/* this will begin the code for what is teh difference */

.col-2-e{
    flex-basis: 40%;
    min-width: 200px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.col-2-e img{
    border-radius: 30%;
}
.title-diff{
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
    /* width: max-content; */
    
}
.title-diff h1{
    
    font-size: 50px;
    text-transform: uppercase;
    
}
.added-pad{
    padding-bottom: 30px;
}
.col-2-e h3{
    color: rgb(17, 39, 17);
    letter-spacing: 2px;
}



/* whats new with us today */
.why-happy{
    background-color: #fff;
    padding: 50px;
}
.sqaure-s{
    background: rgba(235, 143, 4, 0.192);
    padding: 60px;
    width: fit-content;
    position: relative;
    border-radius: 20%;
    /* float: right; */
    margin-right: 20px;

  
    margin-left: 40%;
    z-index: 3;
    /* margin-bottom: 10px; */
}
.text{
    z-index: 10;
    font-family: 'Patua One', cursive;
}
.text h1{
    font-size: 45px;
    font-weight: 900;
    color: rgb(235, 143, 4);
}
.text h4{
    font-size: 25px;
    font-weight: 500;
    color: rgb(235, 143, 4);
}
.sqaure-m{
    background-color: rgba(11, 138, 6, 0.336);
    padding: 50px;
    width: fit-content;
    position: relative;
    border-radius: 20%;
    /* float: right; */
    /* margin: 10px;  */
    /* float: left; */
    /* height: auto; */
    position: relative;
}
.m h1{
    font-size: 35px;
    font-weight: 900;
    color: rgb(11, 138, 6);
}
.m h4{
    font-size: 20px;
    font-weight: 500;
    color: rgb(11, 138, 6);
}
.sqaure-l{
    background-color: rgba(158, 10, 243, 0.233);
    padding: 45px;
    width: fit-content;
    position: relative;
    border-radius: 20%;
    margin-left: 30%;
    margin-top: 10px;
    
}
.l h1{
    font-size: 30px;
    font-weight: 900;
    color: rgba(158, 10, 243);
}
.l h4{
    font-size: 20px;
    font-weight: 500;
    color: rgba(158, 10, 243);
}
.padding-left{
    padding-left: 10px;
}

/* carsouel section */
.car-sec-middle{
    /* height: 60vh; */
    background-color: #a2d9ff;
    /* padding: 30px;
     */
    padding-top: 20px;
    padding-bottom: 50px;
    border-top: double 5px rgb(211, 198, 181);
}
.car-sec-middle h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}


.patterns {
    height: 30vh;
  }
  
  
  
svg text {
    font-family: 'Lora', serif;
    letter-spacing: 10px;
    stroke: #d1b7c6 ;
    font-size: 150px;
    font-weight: 700;
    stroke-width: 3;
   
    animation: textAnimate 5s infinite alternate;
    
}
  
@keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:hsl(0, 10%, 55%)
  
}
    
100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: rgba(35, 38, 39, 0)
    }
    
}



#under {
   display: inline-block;
   position: absolute;
   left: 3%;
   color:  #b483e29a;
   font-size: 130px;
   font-weight: 400;
   /* opacity: 0.2; */
   text-transform: uppercase;
   font-family: 'Lora', serif;
   z-index: 20;

}
#under2{
   display: inline-block;
   position: absolute;
   right: 7%;
   color: #ffffff5b;
   font-size: 130px;
   font-weight: 300;
   /* opacity: 0.5; */
   text-transform: uppercase;
   font-family: 'Lora', serif;
   z-index: 20;
 
   
}

.over{
    /* z-index: 5; */
}
small{
    color: black;
    font-size: 15px;

}
.top-padding1{
    padding-top: 50px;
    /* background-color: rgba(180, 112, 180, 0.568); */
    padding: 30px;
    margin-top: 20px;
}
.title-m{
    font-size: 35px;
}
.small-pad{
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
.unique-box{
   padding-top: 25%;
}
@media only screen and (max-width: 1000px){
    #under2{
        visibility: hidden;
    }
    svg text {
        
        letter-spacing: 5px;
        stroke: #d1b7c6 ;
        font-size: 100px;
        font-weight: 700;
       
        
    }
    

}
@media only screen and (max-width: 900px){
    #under{
       visibility: hidden;
    }
    .top-padding1{
        background-color: rgba(0, 0, 0, 0.753);
        border-radius: 5%;
       
    }
    small{
        color: #fff;
    }
    .title-m{
        color: #fff;
    }
}
.center h1{
    font-size: 35px;
    text-transform: uppercase;
}

/* carsouel images */
.overlay{
    position: absolute;
    /* bottom: 0; */
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 60px;
    font-weight: 700;
    text-align: center;
}
.item:hover .overlay{
    opacity: 1 ;
}
.owl-theme .owl-nav.disabled + .owl-dots{
    padding-top: 30px !important;
}
.default-menu{
    display: flex;
    flex-basis: wrap;
    max-width: 1250px;
    margin: auto;
    justify-content: space-between;

}
.logo-roxy .menu-se{
    display: inline-block;
}
.logo-roxy{
    display: flex;
}
.logo-roxy i {
    padding-right: 10px;
    color: rgb(66, 99, 66);
}
.roxy-name i{
    display: inline-block;
}
.menu-all-pages{
    background-color: rgb(216, 238, 217);
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    
}
.default-menu{
    padding-left: 20;
    padding-right: 20;
}

.center h1{
    padding-bottom: 30px;
    
}
.btn-group{

}

/* this is our story about us page */
.center-items{
    align-items: center;
    text-align: center;
    align-content: center;
    padding-left: 40px;
    padding-right: 40px;
}
.this-is-our-story{
    padding-top: 50px;
    padding-bottom: 50px;
}
.our-story-starts-here h1{
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 60px;
    padding-bottom: 30px;

}
.container{
    max-width: 1350;
    margin: auto;
}
.short-summary p{
padding-bottom: 20px;
}
.col-2{
    flex-basis: 40%;
    min-width: 400px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-sec-black{
    padding-top: 30px;
    padding-bottom: 30px;
}

.custom-butt {
    /* width: max-content; */
    /* width: 150px; */
    padding: 10px 15px;
    /* background-color: burlywood; */
    border: solid 2px purple;
}
.custom-butt a{
    text-decoration: none;
    color: rgb(15, 15, 14);
}
.custom-butt:hover{
    background-color: rgba(128, 0, 128, 0.349);
}
.welcome-page{
    align-content: center !important;
    text-align: center !important;
    align-items: center !important;
    align-self: center;
    background-color: rgb(232, 236, 238);
}
.form-sec{
    align-items: center;
}
.welcome-title h1{
    padding-top: 60px;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 60px;
    padding-bottom: 30px;
}
.form-sec{
    padding-top: 30px;
    /* padding-bottom: 30px; */
}
.submit-butt{
    padding: 15px 20px;
    width: 150px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: rgba(235, 143, 4, 0.425);

    border: none;
    

}
.submit-butt:hover{
    background-color: rgb(235, 143, 4);
    
}
.form-sec p{
    padding-top: 20px;
}
.form-sec{
    justify-content: space-between;
}
.butt-center{
    padding-top: 30px !important;
}
.dashboard{
    background-color: rgb(211, 171, 199);
}

/* contact form styling for buttons */
.form-sec input{
    padding: 10px 15px;
    margin-left: 20px;
    margin-right: 20px;
    width: 150px;
}
.add-space{
    padding: 30px !important;
}
.help-text{
    padding: 20px !important;
}
body{
    min-height: 100vh;
}
.input-box{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}